.pink{
  background-color: pink;
  font-family: Verdana, "Dejavu Sans", sans-serif;
}

#random{
  color: blue;
  font-size: 36px;
}

.no3{
  font-size: 24px;
}

#random2{
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}